* {
	color: #000;
	font-family: "Source Serif Pro", serif;
	box-sizing: border-box;
	// overflow-x: hidden;
}

body {
	width: 100vw;
	overflow-x: hidden;
	// overflow-y: visible;
}

#__next {
	overflow-x: hidden;
}

.titleFont {
	font-family: "Dancing Script", cursive;
}
