@import "/styles/variables";
$bottom-index-margin: 3rem;
$menu-item-vertical-margin: 0.5rem;

.outerContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.itemContainer {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.menuCategoryTitleContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0.5rem;
}
.titleContainer {
	font-size: 1.1rem;
	margin-top: $menu-item-vertical-margin;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.titleAsterickContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	// gap: 0.25rem;
}
.asterick {
	color: $asterick-color;
	fill: $asterick-color;
	height: 0.8rem;
	width: 0.8rem;
	transform: translateY(-5px);
	// font-size: 1.3rem;
}
.descriptionContainer {
	font-size: 1rem;
	margin: 0.15rem 1rem 1rem 1rem;
}
.menuCategoryTitle {
	display: inline-block;
	margin-top: $menu-item-vertical-margin;
	text-align: center;
	padding: 0.5rem 1rem;
	border: 1px solid rgba(0, 0, 0, 0.5);
	font-size: 1.2rem;
	font-weight: 700;
}

.menuCategorySubTitle {
	font-size: 0.8rem;
	font-weight: 300;
	margin: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		text-align: center;
		width: 80%;
	}
}

.itemContainer_last {
	border-bottom: none;
}

.itemContainer_last.marginBottom {
	.descriptionContainer {
		margin-bottom: 6rem;
	}
}

@media only screen and (max-width: 900px) {
	.menuCategorySubTitle {
		p {
			width: calc(100% - 1rem);
		}
	}
}
