$brand-color: #ffb627;
$menu-item-vertical-margin: 1rem;
$asterick-color: #c1121f;

$menu-category-title-fontWeight: 500;
$menu-category-title-fontSize: 1.2rem;
$menu-category-title-fontStyle: none;
$menu-category-title-border: 1px solid rgba(0, 0, 0, 0.5);
$menu-category-title-padding: 1rem;

$menu-category-subtitle-fontWeight: 300;
$menu-category-subtitle-fontSize: 0.8rem;
$menu-category-subtitle-fontStyle: none;

$bottom-index-margin: 3rem;
